<!DOCTYPE html>
<html>
  <head>
    <title>Myblogs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <% if user_signed_in? %>
        <%= current_user.nickname %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        <a class="post" href="/tweets/new">投稿する</a>
      <% else %>
        <%= link_to "ログイン", new_user_session_path, :class => 'post'%>
        


    <%= yield %>
  </body>
</html>
